<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="daypilot" connectionString="workstation id=RGEvent.mssql.somee.com;packet size=4096;user id=Cmonasterio7_SQLLogin_1;pwd=s1w66s1xel;data source=RGEvent.mssql.somee.com;persist security info=False;initial catalog=RGEvent"
      providerName="System.Data.SqlClient" />
    <add name="daypilotConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Geiser Toaspern\Documents\Proyecto Calendar\TutorialPrintingCalendar.20210730\TutorialPrintingCalendar\TutorialCS\App_Data\daypilot.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <globalization uiCulture="en" culture="en-us"/>
    <pages clientIDMode="AutoID"/>
  </system.web>
</configuration>